@import "antd/dist/antd.css";
@import "@/styles/_reset.css";
@import "@/theme/default.scss";
@import "@/theme/default-vars.scss";
// @import "@/theme/mauve-vars.scss";

body{
  font-size: 16px !important;
}

#root{
  width: 100%;
  height: 100%;
}

.App {
  width: 100%;
  height: 100%;
  background: $background-theme;
  .ant-layout{
    background: $background-theme;
  }
}

@media screen and (min-width:1200px) {
  .root-container{
  transform: scale(0.5);
  transform-origin: top;
  }
}

@media (prefers-reduced-motion: no-preference) {
  // .Header-logo {
  //   animation: Header-logo-spin  2s linear infinite;
  // }
}

// button {
//   font-size: calc(10px + 2vmin);
// }
